* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-center {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 24px;
}

text-center h3 {
    
}
.responsive-img {
    width: 100%;
    height: 100%;
}

.border {
    border: 1px solid red;
}
/*header configuration*/

.header-container {
    /*border: 1px solid black;*/
    display: flex;
    /*justify-content: space-around;*/
    background-color: #1f2937;
    padding-bottom: 1%;
}

#logo {
    font-size: 24px;
    margin-top: 20px;
    /*border: 1px solid red;*/
    color: #fff;
    margin-left: 17%;
}

.menu {
    /*border: 1px solid red;*/
    margin-top: 23px;
    margin-left: 27%;
}
.menu ul, li{
    display: flex;
}

.menu ul, li, a{
    font-size: 18px;
    text-decoration: none;
    margin-right: 8px;
    color: #e5e7eb;
}

/*first div content configuration*/

.container {
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    
    padding-bottom: 120px;
}

.item {
    width: 30%;
    /*border: 1px solid red;*/
    margin-top: 100px;
    margin-left: 7%;
    padding: 5px;
}

.item h2{
    font-size: 48px;
    color: #faf9f8;
    margin-bottom: 10px;
}

.item p {
    color: #e5e7eb;
    margin-bottom: 15px;
}

.item button {
    background-color: #3f92f7;
    color: #faf9f8;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    width: 40%;
    height: 20%;
    padding: 10px;
}
.img-container {
    width: 40%;
    /*border: 1px solid red;*/
    margin-top: 100px;
    margin-left: -180px;
    background-color: rgb(170, 170, 170);
    color: #fff;
    text-align: center;
    border: 3px solid #faf9f8;
}

/*second div content configuration*/

.boxes {
    
    display: flex;
    justify-content: center;
    
}

.box {
    height: 190px;
    width: 190px;
    border: 3px solid blue;
    border-radius: 8px;
    margin-right: 1%;
}

/*quote section configuration*/

.quote-section {
    margin-top: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}

.quote {
    width: 50%;
    margin-top: 6%;
    padding: 3%;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: justify;
}

.quote span {
    font-weight: bolder;
    font-size: 18px;
    margin-left: 60%;
}